<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign research = data[1] | sort: 'startDate' | reverse %}
  {% for content in research %}
    <li class="list-group-item">
      <div class="row">
        <!-- Left column for date, institution, location, and advisors -->
        <div class="col-xs-4 cl-sm-4 col-md-4 text-center date-column">
          <!-- Period -->
          {% if content.period %}
            <p class="duration font-weight-light align-left">
              <i class="fa-regular fa-calendar"></i>
              {{ content.period }}
            </p>
          {% endif %}

          <!-- Institution -->
          {% if content.institution %}
            <p class="school align-left">
              <i class="fa-solid fa-school"></i>
              {{ content.institution }}
            </p>
          {% endif %}

          <!-- Location -->
          {% if content.location %}
            <p class="location align-left">
              <i class="fa-solid fa-location-dot iconlocation"></i>
              {{ content.location }}
            </p>
          {% endif %}

          <!-- Advisors -->
          {% if content.advisors %}
            <p class="advisors align-left">
              <i class="fa-solid fa-user-tie"></i>
              Advisors: {{ content.advisors }}
            </p>
          {% endif %}
        </div>

        <!-- Right column for title and responsibilities -->
        <div class="col-xs-8 cl-sm-8 col-md-8 mt-2 mt-md-0">
          <!-- Title -->

          <h6 class="title font-weight-bold ml-1 ml-md-4">
            {{ content.position }}
          </h6>
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            Project: {{ content.title }}
          </h6>
          
          <!-- Responsibilities -->
          <ul class="items ml-1 ml-md-4">
            {% for responsibility in content.responsibilities %}
              <li>
                <span class="item">{{ responsibility }}</span>
              </li>
            {% endfor %}
          </ul>
          
          <!-- Achievement (if available) -->
          {% if content.achievement %}
            <p class="achievement ml-1 ml-md-4" style="font-size: 0.9rem; font-style: italic;">
              Achievement: {{ content.achievement }}
            </p>
          {% endif %}

          <!-- Technologies (if available) -->
          {% if content.technologies %}
            <p class="technologies ml-1 ml-md-4">
              Technologies: {{ content.technologies | join: ', ' }}
            </p>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
